.controls {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.styledSelect {
	border: 1px solid #d2dbe7;
	border-radius: 10px;
	outline: none;
	font-size: 14px;
	padding: 12px 20px;
	transition: box-shadow 0.5s ease;
	margin-bottom: 10px;

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
}
